services:
  - type: web
    name: laravel-app
    env: docker
    plan: free
    buildCommand: "./build.sh"
    startCommand: "php artisan serve --host 0.0.0.0 --port 10000"
    envVars:
      - key: APP_KEY
        generateValue: true
